In [1]:
import pandas

In [11]:
data = pandas.read_csv("tips.csv")

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.sample()

In [ ]:
data.describe()

In [ ]:
data.info()

In [12]:
data['day']

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
       ...
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: object

In [16]:
df_fem =data[data['sex']=='female']
df_fem

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []